@charset "UTF-8";

html {
    background-color: black;
}   
body {
    width: 1024px;
    text-align: center;
    background-color: white;
    margin: 0px auto 0px auto;
}
/*cabeçalho*/

.logo{
    padding-top: 20px;
}
header {
    background-color: red;
}
.header_header {
    height: 250px;
}
.cab_shoto{
    float: left;
    margin: auto auto auto 25px;
}
.cab_izuku {
    float: none;
    margin: auto;
}
.cab_bakugou {
    float: right;
    margin: auto 25px auto auto;    
}
nav { 
    padding: 1px 0px 1px 0px;
    background-color: yellow;
}
ul li{ 
    display: inline;
}    
ul li a { 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    color: black;
    padding: 18px 30px;
}
ul li a:hover {
    background-color: red;
}


/*index*/

/*article*/
p {
    font-family: "Times New Roman", Times, "Liberation Serif" Liberation Serif, serif;
    font-size: 0.9em;
}
.article_home {
    width: 1024px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
.h1_ideia_home, .p_ideia_home {
    width: 700px;
    text-align: center;
    margin: 25px auto 25px auto;
    padding: 0px;
}
.article_mundo {
    width: 452px;
    text-align: justify;
    margin: 10px 30px 100px 30px;
    padding: 0px;
    float: left;
}
.h2_mundo_home {
    text-align: center;
}
.article_aut_recp {
    width: 452px;
    text-align: justify;
    margin: 10px 30px 100px 30px;
    padding: 0px;
    float: right;    
}

.h2_autor_home,.h2_recepcao_home {
    text-align: center;
}
.img_real{
    padding: 0px;
    margin: 15px 152px 15px 152px;
}
/*Index_fontes*/
p_ideia_home, .p1_mundo_home, .p3_mundo_home, .p3_mundo_home, .p1_autor_home, .p3_autor_home, .p1_recepcao_home, .p2_recepcao_home {
    font-family: "Liberation Serif", "Times New Roman", serif;
}
.h1_ideia_home, .h2_mundo_home, .h2_autor_home, .h2_recepcao_home {
    font-family: "Liberation Sans", "Arial", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
.h1_perso {
    text-transform: uppercase;
}

.h2_perso_alunos, .h2_perso_pros, .h2_perso_vil{
    font-family: "Liberation Sans", "Arial", sans-serif;
    font-size: 16px;
}
/*personagens*/


/*article*/
.article_perso {
    width: 1024px;
}
.h1_perso{
    font-family: "Arial", "Liberation Sans", sans-serif;
    font-size: 1.5em;
    padding-top: 10px;
}
.p_perso{
    font-family: "Times New Roman", Times, "Liberation Serif", serif;
    font-size: 1.1em;
    width: 700px;
    margin: 10px auto;
}
.aside_perso_1 {
    width: 1024px;
    height: 200px;
    background-color: red;
    margin: 0px;
    padding: 0px;
}
.h2_perso_alunos {
    font-family: "Arial", "Liberation Sans", sans-serif;
    font-size: 1.7em;
    color: red;
    width: 400px;
    margin: 50px auto 50px 65px;
}
.a_personagens_alu {
    display: block;
    width: 350px;
    text-decoration: none;
}
.a_personagens_alu:visited {
    text-decoration: none;
    color: red;
}
.section_perso_1 {
    width: 1024px;
    height: 300px;
}
.link_alu_izu {
    margin: 10px 50px 10px 25px;
}
.link_alu_bak {
    margin: 10px 50px 10px 50px;    
}
.link_alu_tod {
    margin: 10px 25px 10px 50px;
}
.section_perso_2 {
    width: 1024px;
    height: 300px;
}
.h2_perso_pros {
    font-family: "Arial", "Liberation Sans", sans-serif;
    font-size: 1.7em;
    color: yellow;
    width: 325px;
    margin: 40px auto 50px auto;
}
.a_personagens_pros {
    display: block;
    margin: 20px auto;
    width: 315px;
    text-decoration: none;
}
.a_personagens_pro:visited {
    text-decoration: none;
    color: yellow;
}
.link_pro_all {
    margin: 10px 50px 10px 25px;
}
.link_pro_era {
    margin: 10px 50px 10px 50px;    
}
.link_pro_end {
    margin: 10px 25px 10px 50px;
}

.section_perso_3 {
    width: 1024px;
    height: 300px;
    margin-bottom: 100px;
}
.h2_perso_vil {
    font-family: "Arial", "Liberation Sans", sans-serif;
    font-size: 1.7em;
    width: 250px;
    color: #000D80;
    margin: 25px 140px 40px auto;
}
.a_personagens_vil {
    display: block;
    text-decoration: none;
}
.a_personagens_vil:visited {
    text-decoration: none;
    color: #000D80;
}
.link_vil_shi {
    margin: 10px 50px 10px 25px;
}
.link_vil_ovr {
    margin: 10px 50px 10px 50px;    
}
.link_vil_stn {
    margin: 10px 25px 10px 50px;
}

/*Alunos*/
.alunos_article {
    width: 550px;
    float: left;
    margin: 0px 0px 0px 0px;
}
.h1_alunos {
    margin: 75px 0px;
    background-color: white;
    font-family: "Liberation Sans", "Arial", sans-serif;
}
.p_alunos_1, .p_alunos_2, .p_alunos_3, .p_alunos_4 {
    text-align: left;
    margin-left: 30px;
    font-family: "liberation Serif", "Times New Roman", serif;
    font-size: 15px;
}
.alunos_aside {
    width: 400px;
    float: right;
}

/*pros*/
.article_pros {
    width: 550px;
    float: left;
}
.h1_pros {
    margin: 75px 0px;
    font-family: "Liberation Sans", "Arial", sans-serif;
}
.p_pros_1, .p_pros_2, .p_pros_3, .p_pros_4 {
    text-align: left;
    width: 550px;
    margin-left: 20px;
    float: left;
}
/*viloes*/
.article_viloes {
    float: left;
}
.h1_viloes {
    margin: 75px 0px;
}
.p_viloes_1, .p_viloes_2, .p_viloes_3 {
    text-align: left;
    width: 550px;
    margin-left: 20px;
}
/*h2_personagens*/
.h2_tabelas {
    text-align: center;
    font-family: "liberation Sans", "Arial", sans-serif;
}
/*tabelas*/

table {
    width: 400px;
    float: right;
    margin: 75px 30px 0px 0px;
    border-collapse: collapse;
}

td {
    padding: 5px 0px;
    text-align: center;
    font-size: 0.8em;
    font-family: "Liberation Sans", "Arial", sans-serif;
    
}
caption {
    margin-bottom: 5px;
}
.cinza {
    background-color: #E0E0E0;
}
.claro {
    background-color: #FAFAFA;
}
.th_alunos {
    background-color: red;
    color: white;
    padding: 5px;
}
.th_pros {
    background-color: yellow;
    color: black;
    padding: 5px;
}
.th_viloes {
    background-color: #000D80;
    color: white;
    padding: 5px;
}
/*ultimo_paragrafo*/
.p_alunos_4, .p_pros_3, .p_viloes_3 {
    margin-bottom: 100px;
}


.section_alunos {
    background-color: yellow;    
    width: 1024px;
    height: 50px;
    float: right;
}
.retornar {
    color: red;
    margin: 10px auto 10px auto;
}
.a_section {
    display: block;
    width: 100px;
    height: 40px;
    margin: 0px auto;
    text-decoration: none;
}
.a_section:visited {
    text-decoration: none;
}
/*compra*/

.article_compra {
    height: 550px;
    font-size: 16px;
}
.form {
    width: 1024px;
    height: 500px;
}
.fieldset_info {
    width: 400px;
    height: 175px;
    padding: 0px;
    float: left;
    margin: 0px 0px 30px 50px;
    text-align: left;
    font-family: "Times New Roman", "Libereation Serif", serif;
    font-size: 16px;
    background-color: #E0E0E0;
}

.info_basicas {
    padding: 5px;
    margin: 0px 0px 0px 50px;
    font-family: "Liberation Sans", "Arial", sans-serif;
    font-size: 16px;
    background-color: #FF0000;
    color: white;
}
.nome {
    margin: 0px 0px 0px 25px;
}
.in_nome {
    padding: 0px;
    margin: 0px;
    width: 200px;
}
.mail {
    margin: 0px 0px 0px 44px;
}
.in_mail {
    padding: 0px;
    margin: 0px;
    width: 200px;
}
.fone {
    margin-left: 35px;
}
.in_fone {
    padding: 0px;
    margin: 0px;    
    width: 200px;
}
.senha {
    margin: 0px 0px 0px 50px;
}
.in_senha {
    padding: 0px;
    margin: 0px;
    width: 200px;
}
.fieldset_entrega {
    width: 400px;
    height: 200px;
    padding: 0px;
    text-align: left;
    position: absolute;
    top: 600px;
    margin: 10px 0px 0px 50px;
    background-color: #E0E0E0;
    
}
.legend_entrega {
    margin: 0px 0px 0px 50px; 
    font-family: "Liberation Sans", "Arial", sans-serif;
    font-size: 16px;
    padding: 5px;
    font-family: "Liberation Sans", "Arial", sans-serif;
    background-color: #FF0000;
    color: white;
}
.hora_entrega {
    width: 300px;
    margin-right: 120px;
    margin-left: 30px;
}
.in_hora_entrega {
    padding-right: 45px;
    width: 75px;
}
.ins_entrega {
    width: 300px;
    height: 110px;
    text-align: left;
    position: absolute;
    margin-left: 30px;
}
textarea {
    width: 320px;
    height: 70px;
    margin: 15px 25px 0px 20px;
}
.fieldset_volume {
    width: 400px;
    height: 175px;
    float: right;
    padding: 0px;
    margin: 0px 50px 0px 0px;
    background-color: #E0E0E0;
}
.legend_volume {
    padding: 5px;
    margin: 0px 0px 0px 50px;
    font-family: "Liberation Sans", "Arial", sans-serif;
    font-size: 16px;
    background-color: #FF0000;
    color: white;
}
.p_nome {
    margin: 0px;
    padding: 20px 25px 20px 0px;
}
.label_nome {
    margin-right: 10px;
}
.p_capa {
    margin: 0px 0px 0px 0px;
    padding: 0px 200px 0px 0px;
}
.p_capa_dura {
    margin: 0px;
}
.label_capa_dura {
    padding: 0px 90px 0px 0px;
}
.p_brochura {
    margin: 0px;
}
.label_brochura {
    padding: 0px 100px 0px 0px;  
}
.p_espiral {
    margin: 0px;
}
.label_espiral {
    padding: 0px 114px 0px 0px;
}

.button {
    width: 75px;
    height: 30px;
    float: right;
    margin: 145px 200px 0px 0px;
    font-family: "Liberation Sans", "Arial", sans-serif;
    font-size: 1.2em;
}

/*anime*/

.staff_article_anime {
    width: 482px;
    height: 270px;
    float: right;
    margin: 50px 30px 30px 0px;
    text-align: left;
    
}
.h2_anime {
    font-weight: normal;
    margin: 10px 0px 10px 0px;
    font-size: 1.2em
}
.estudio_aside_anime {
    width: 482px;
    float: left;
    margin: 75px 0px 30px 30px;
    text-align: right;
}

.ima1_aside_anime {
    float: left;
    height: 250px;
    margin: 50px 30px 30px 30px;

}
.ima2_aside_anime {
    float: right;
    margin: 50px 30px 30px 30px;
}
.ima3_aside_anime {
    float: left;
    margin: 50px 30px 50px 30px;
}
.texto_section_anime {
    width: 482px;
    float: right;
    margin: 20px 30px 45px 0px;
    text-align: left;
    
}
.h1_anime, .h3_anime, .h4_anime {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: "Liberation Sans", "Arial", sans-serif;
}
.h3_anime {
    margin: 20px 0px 10px 0px;
}
.h2_anime, .h2_anime, .h2_anime, .h2_anime, .h2_anime, .p_anime {
    font-family: "Liberation Serif", "Times New Roman", serif;
}
.h2_anime, .h2_anime, .h2_anime, .h2_anime, .h2_anime {
    font-size: 20px;
}
.p_anime {
    font-size: 14px;
}
/*footer*/

footer {
    background-color: darkred;
    clear: both;
    color: white;
    font-family: "Arial," "Liberation Sans", sans-serif;
    font-size: 0.8em; 
    height: 175px;
}
.img_footer1 {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 55px 15px auto 50px;
}
.img_footer2 {
    float: left;
    padding: 0px 0px 0px 0px; 
    margin: 15px;
    margin: 55px 15px auto 15px;
}
.img_footer3 {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 15px;
    margin: 55px 15px auto 15px;
}
.p_footer {
    float: left;
    padding: 65px 0px 65px 100px;
    font-family: Arial, Liberation Sans, Helvetica, sans-serif;
    font-size: 0.9em;
}
.h3_footer {
    padding: 30px 100px 0px 0px;
}
.li_footer {
    display: block;
    padding: 5px 0px 0px 170px;
    text-align: left;
    float: left;
}
